%h1.display-4.text-primary
  #{@name}'s Tweets
%p
  #{@name}さんの投稿一覧です。
%table.table
  %tr
    %th
      ID
    -# %th
    -#   Name
    %th
      Text
    %th
      Image
    %th
      Created_at
    %th{colspan: "2"}
  - @posts.each do |post|
    %tr
      %td{width: "35px"}
        = post.id
      -# %td{width: "100px"}
      -#   = post.user.name
      %td{width: "200px"}
        = link_to "/posts/#{post.id}" do
          = post.text
      %td
        = image_tag post.image_url(:thumb) if post.image.present?
      %td
        = post.created_at.to_s(:datetime)
      - if user_signed_in? && current_user.id == post.user_id
        %td{width: "80px"}
          = link_to edit_post_path(post.id) do
            編集
        %td{witdh: "80px"}
          = link_to post_path(post.id), method: :delete, data: {confirm: "削除しますか？"} do
            削除
%p
  = link_to "#" do
    ※ページの上部へ戻る &gt;&gt;
-# :javascript
-#   function delData(num) {
-#     if(confirm('このデータを削除しますか？')) {
-#       document.location = "/posts/" + num;
-#     }
-#   }