.Wrapper
  .Header
    .Left
      .Left__btn
        STEADY
    .Right
      .Right__btn
        投稿する
      .Right__btn
        ユーザー情報
  .Main
    .Left
      .Top_content
        .Image
        .Profile
          .Profile__name
            山田太郎
          .Profile__prefecture
            岡山県
          .Profile__point
            15ポイント
          .Profile__rank
            Rank: 3
      .Bottom_content
        .Bottom_content__placename
          近くのジム
        .Bottom_content__placemap
    .Center
      .Content
        .Left
          .Image
        .Right
          .Top
            .Top__name
              太郎
            .Top__like_btn
              = icon('far', 'heart', class: "Top__like_btn--icon")
            .Top__show_btn
              = icon('far', 'comment', class: "Top__show_btn--icon")
            .Top__date
              2020.6.15 11:33
          .Middle
            .Text
              私は今日どうもこの留学方というののために思ううませ。もし今日の授業人ももちろんわが招待たずまでをかけ合わておきませがは損害漬けたべきて、なぜには消えないなんなけれ。シャツが尊ぶございはずはとうとう事実が至極なくたます。
          .Bottom
            .Image
      .Content
        .Left
          .Image
        .Right
          .Top
            .Top__name
              太郎太郎太郎太郎太郎太郎太郎太郎太郎
            .Top__like_btn
              = icon('far', 'heart', class: "Top__like_btn--icon")
            .Top__show_btn
              = icon('far', 'comment', class: "Top__show_btn--icon")
            .Top__date
              2020.6.15 11:33
          .Middle
            .Text
              私は今日どうもこの留学方というののために思ううませ。もし今日の授業人ももちろんわが招待たずまでをかけ合わておきませがは損害漬けたべきて、なぜには消えないなんなけれ。シャツが尊ぶございはずはとうとう事実が至極なくたます。
          .Bottom
            .Image
    .Right
      .Top_content
        Ranking
      .Middle_content
        .First
          .First__rank
            = icon('fas', 'medal', class: "First__rank--icon")
          .First__name
            ボブ・サップ
          .First__show_member_btn
            = icon('fas', 'search', class: "First__search-icon")
        .Second
          .Second__rank
            = icon('fas', 'medal', class: "Second__rank--icon")
          .Second__name
            ヒロシ
          .Second__show_member_btn
            = icon('fas', 'search', class: "Second__search-icon")
        .Third
          .Third__rank
            = icon('fas', 'medal', class: "Third__rank--icon")
          .Third__name
            Katherine
          .Third__show_member_btn
            = icon('fas', 'search', class: "Third__search-icon")
        .Fourth
          .Fourth__rank
            4.
          .Fourth__name
            邢道栄
          .Fourth__show_member_btn
            = icon('fas', 'search', class: "Fourth__search-icon")
        .Fifth
          .Fifth__rank
            5.
          .Fifth__name
            ボボボーボ・ボーボボ
          .Fifth__show_member_btn
            = icon('fas', 'search', class: "Fifth__search-icon")
      .Bottom_content
        .User_search_btn
          ユーザー検索
  .Footer
    ©2020 STEADY